<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, we got you.</h1>
    <p>
      We'll let you know about updates on the International University Sports Platform we're building up.
    </p>
    <p>
      In the meanwhile, you can follow us at our blog, facebook, or twitter.
    </p>
    <p>Compliments from Braga,</p>
    <p>the UPLAY team</p>
    <p>hello@uplaypro.com</p>
  </body>
</html>