<!DOCTYPE html>

<!-- BEGIN HTML -->

<html dir="ltr" lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>UPLAY</title>
</head>
<body style="font-family:Helvetica, Arial, sans-serif; font-size:13px; color:#000; margin:0; padding:40px; background:#EBE8E4;">
  <a href="http://www.uplaypro.com" alt="" style="text-decoration:none;">
    <img src="<%= @host %><%= image_path 'logotipo.png' %>" width="160" height="50" style="margin-bottom:20px;border:none;" />
  </a>

  <h1 style="color:#3BA776; font-size:26px">Hi, we got you.</h1>

  <p style="color:#555555; font-size:16px; line-height:150%; margin: 0 0 1.6em 0; ; margin-bottom:30px;">We'll let you know about updates on the <b>International University Sports Platform</b> we're building up.</p>
  <p style="color:#555555; font-size:16px; line-height:150%; margin: 0 0 1.6em 0; ; margin-bottom:30px;">In the meanwhile, you can follow us at our <a style="color:#3BA776; font-size:16px; line-height: 14px;" target="_blank" href="http://blog.uplaypro.com">blog</a>, <a style="color:#3BA776; font-size:16px; line-height: 14px;" target="_blank" href="http://facebook.com/uplaypro">facebook</a>, or <a style="color:#3BA776; font-size:16px; line-height: 14px;" target="_blank" href="http://twitter.com/uplaypro">twitter</a>.</p>

  <p style="color:#aaaaaa; font-size:12px;; margin-top:40px;">Compliments from Braga,</p>
  <p style="color:#aaaaaa; font-size:12px; margin: 0 0 0 0">the UPLAY team</p>
  <p style="color:#aaaaaa; font-size:12px; margin: 0 0 0 0"><i><a style="color:#aaaaaa; font-size:10px;" target="_blank" href="mailto:hello@uplaypro.com">hello@uplaypro.com</a></i></p>


</body>
</html>