<div id="in-touch" class="wrapper">
  <section class="row">
    <div class="small-12 columns">
      <div class="uplay-logo"></div>
    </div>
  </section>
  <section class="slogan row">
    <header class="small-4 columns">
      <h1>TAKE YOUR COMPETITION FURTHER</h1>
      <h5>INTERNATIONAL UNIVERSITY SPORTS PLATFORM</h5>
      <form method="post" action="<%= landing_register_url %>">
        <input type="email" name="useremail" placeholder="enter your e-mail, we'll update you" />
        <input class="in-submit" type="submit" value="GET IN TOUCH!" />
      </form>
      <div class="in-submit hide">
        <div class="check-icon">
        </div>
        <div>
          Registration submited!
        </div>
      </div>
    </header>
    <div class="laptop small-8 columns">
    </div>
  </section>
</div>

<div id="athletes" class="wrapper">
  <div class="row">
    <section class="small-6 columns">
      <header>
        <div class="athletes-icon"></div>
        <h3>ATHLETES</h3>
        <p>Exhibit your profile</p>
        <p>Share your achievements</p>
        <p>Connect with other athletes</p>
      </header>
    </section>
    <section class="small-6 columns">
      <header>
        <div class="organizers-icon"></div>
        <h3>ORGANIZERS</h3>
        <p>Engage the athletes</p>
        <p>Share the hightlights</p>
        <p>Manage your tournaments</p>
      </header>
    </section>
  </div>
</div>

<div id="second-sign" class="wrapper">
  <section class="row">
    <section class="small-6 columns">
      <div>SIGN UP TO GET MORE INFO</div>
    </section>
    <section class="small-6 columns">
      <form method="post" action="<%= landing_register_url %>">
        <section class="row collapse">
          <section class="small-9 columns">
            <input type="email" name="useremail" placeholder="enter your e-mail, we'll update you" />
          </section>
          <section class="small-3 columns">
            <input class="second-submit" type="submit" value="SEND" />
          </section>
        </section>
      </form>
      <div class="second-submit hide">
        <div class="check-icon">
        </div>
        <div>
          Registration submited!
        </div>
      </div>
    </section>
  </section>
</div>

<footer class="wrapper">
  <section class="row">
    <section class="small-6 columns">
      <div>
        @2013, All rights reserved UPlayPro, Made in Braga
      </div>
    </section>
    <section class="small-6 columns">
      <%= image_tag 'facebook.png' %>
      <%= image_tag 'twitter.png' %>
    </section>
  </section>
</footer>