<html>
  <head>
    <meta charset="utf-8" />
    <link href='http://uplaypro.com/assets/logo_green_square-f8063e7d9ce8697b72b0a95ee08062a7.png' rel='apple-touch-icon-precomposed'>
    <meta property="og:image" content="http://uplaypro.com/assets/logo_green_square-f8063e7d9ce8697b72b0a95ee08062a7.png" />
    <link data-page-subject="true" href="http://uplaypro.com/newsletter" rel="canonical" />
    <meta content="http://uplaypro.com/newsletter" data-page-subject="true" property="og:url" />
    <meta content="University Sports Newsletter • U-PLAY" data-page-subject="true" property="og:title" />
    <meta content="website" data-page-subject="true" property="og:type" />
    <meta content="University Sports Newsletter • U-PLAY" data-page-subject="true" property="og:site_name" />
    <meta content="Monthly, on your e-mail." data-page-subject="true" name="description" />
    <meta content="University Sports, Sports, University, Athlete Network, Competition, Planning, Tools, Newsletter, News" data-page-subject="true" name="keywords" />
    <link href="http://uplaypro.com/favicon.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <title>University Sports Newsletter • U-PLAY</title>
  </head>
  <body style="margin: 0px;">
    <iframe
      src="http://uplaypro.us5.list-manage1.com/subscribe?u=19a264d01f96d99adbec09b96&id=3fc35f3f1e"
      frameborder="0"
      width="100%"
      height="100%"
      scrolling="yes">
    </iframe>
  </body>
</html>
