/*
 *= require roboto
 *= require_self
 */


$row-width: 57.5em !default
$header-font-family: 'Pt Sans Narrow', sans-serif
$body-font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
$header-text-rendering: auto

@import "compass"
@import "foundation"
@import "partials/colors"

@mixin title-font
  font-family: 'Pt Sans Narrow', sans-serif
  letter-spacing: 1px

@mixin border($border: 0, $radius: 0)
  border: $border
  border-radius: $radius

html, body
  background-color: $BGColor

h1, h2, h3, h4, h5, h6
  text-rendering: auto !important


.wrapper
  width: 100%


#top-border
  background-color: $GreenA
  height: 4px
  position: fixed
  top: 0
  width: 100%
  z-index: 2

#in-touch
  @include background(image-url("bg.jpg"))
  background-repeat: no-repeat
  background-position: center top
  background-attachment:fixed

  padding-top: 100px
  padding-bottom: 150px

  .uplay-logo
    @include background(image-url("logotipo.png"))
    height: 77px
    background-repeat: no-repeat
    img
      width: auto
      height: 100%
      opacity: 0
      filter: alpha(opacity=0)

  .slogan
    header
      h1, h5
        line-height: 1em
      h1
        font-size: 52px
        color: $GreenA
        font-weight: bolder
        padding-top: 0.5em
      h5
        font-weight: normal

    .laptop
      text-align: right
      iframe
        margin-top: 36px


  .main-submit
    margin-top: 1.2em
    height: 100px

    .success-message, .error-message
      .check-icon
        @include background(image-url("check.png"))
        background-repeat: no-repeat
        background-position: center center
        height: 51px
        width: 100%
        margin: 0 0 0.5em 0
      div
        text-align: center
        color: #808080

    input[type="email"]
      @include single-box-shadow(rgba($LightGray, 0.7), 0px, 3px, 2px, -1px)
      @include border(0, 3px)
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      box-sizing: border-box
      height: 2.7em
      padding-left: 1em

    input[type="submit"]
      @include border(0, 2px)
      @include title-font
      font-size: x-large
      font-weight: bold
      color: white
      width: 100%
      background-color: $DarkGreen
      @include background(linear-gradient(top, $LightGreen, $DarkGreen))
      @include box-shadow(rgba($Black, 0.2) 0px -1px 1px 1px inset)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$LightGreen', endColorstr='$DarkGreen')
      zoom: 1

#athletes
  background-color: white
  padding-top: 5em
  padding-bottom: 5em
  header
    text-align: center
    .athletes-icon
      @include background(image-url("athletes_medal.png"))
    .organizers-icon
      @include background(image-url("organizers_icon.png"))
    .athletes-icon, .organizers-icon
      margin: 0 auto
      background-repeat: no-repeat
      background-position: center center
      height: 133px
      width: 133px
      border: 2px solid $LightGray
      border-radius: 50%
    p
      margin-bottom: 0
      font-size: small
      line-height: 1.5em
    h3
      @include title-font
      padding-top: 1em
      font-weight: bolder
      line-height: 35px

#second-sign
  background-color: $GreenA
  color: white
  padding-top: 5em
  padding-bottom: 5em
  line-height: 2em

  .row > section
    padding: 0 15px 0 15px
    line-height: 50px
    height: 50px

  .row > section:nth-child(1)
    float: left
    width: 50%
    margin: 0
    @include title-font
    font-size: x-large
    font-weight: bolder
    vertical-align: middle

  .row > section:nth-child(2)
    float: right
    width: 50%
    display: table
    .success-message, .error-message
      color: white
      font-weight: normal
      font-size: normal
      text-align: right
    .form-wrap
      display: table-cell
      vertical-align: middle
      form
        margin: 0
        input
          margin: 0
        input[type="email"]
          width: 77%
          float: left
          font-size: small
          height: 2.7em
          padding-left: 1em
          @include border(0, 3px)
        input[type="submit"]
          width: 19%
          border: 0
          float: right
          @include title-font
          font-size: large
          padding: 7px 3px 6px 3px
          color: $BText
          @include background(linear-gradient(top, $BLight, $BDark))
          @include border(0, 2px)
          @include single-text-shadow(rgba($LightGray, 0.6), 0px, 2px, 1px, 0px)
          @include box-shadow(rgba($LightGray, 0.5) 0px -1px 1px 1px inset)


body > footer
  > section:nth-child(1) div
    line-height: 3em
    vertical-align: middle
    a
      color: $GreenA
  img
    float: right
    margin-left: 2em
  padding-top: 5em
  padding-bottom: 5em
  background: $BackgroundBlack
  color: white

@media only screen and (max-width: 768px)
  #athletes .row section:first-child
    margin-bottom: 2em
  #in-touch
    padding-bottom: 50px
  #second-sign .row > section
    width: 100% !important
